<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<link rel="stylesheet" href="../css/speech.css">
<div id="info">
  <p id="info_start">Click on the microphone icon and begin speaking.</p>
  <p id="info_speak_now">Speak now.</p>
  <p id="info_no_speech">No speech was detected. You may need to adjust your
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
    microphone settings</a>.
  </p>
  <p id="info_no_microphone" style="display:none">
    No microphone was found. Ensure that a microphone is installed and that
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
    microphone settings</a> are configured correctly.
  </p>
  <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
  <p id="info_denied">Permission to use microphone was denied.</p>
  <p id="info_blocked">Permission to use microphone is blocked. To change,
    go to chrome://settings/contentExceptions#media-stream
  </p>
  <p id="info_upgrade">Web Speech API is not supported by this browser.
    Upgrade to <a href="//www.google.com/chrome">Chrome</a>
    version 25 or later.
  </p>
</div>
<div class="right">
  <button id="start_button" onclick="startButton(event)">
  <img id="start_img" src="../assets/mic.gif" alt="Start"></button>
</div>
<div id="results">
  <div contenteditable="true" placeholder="Write here" id="final_span" class="final"></div>
  <div contenteditable="true" id="interim_span" class="interim"></div>
  <p>
</div>
<button id="uploadFile_button" class="button" onclick="uploadFile()">
    Upload File</button>
<input type="file" id="input" hidden>
<button id="copy_button" class="button" onclick="copyButton()">Copy and Paste</button>
    <div id="copy_info" class="info">Press Control-C to copy text.<br>(Command-C on Mac.)</div>
<button id="submit_button" class="button" onclick="submit()">Submit</button> 
<div class="center">
   <div id="div_language">
    <select id="select_language" onchange="updateCountry()"></select>
    &nbsp;&nbsp;
    <select id="select_dialect"></select>
  </div>
</div>
<p class="center">
  <small><a href="http://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html">
  Web Speech API</a></small>
</p>
<script src="../js/speech.js" ></script>